/*==========
Bace
===========*/


.wrapper{
	z-index: 100;
}
/*==========
nav
===========*/
.nav_logo{
	height: 2.5em;
	line-height:inherit;
	
}

/*==========
top
===========*/
h1{
	z-index: 20;
}


/*==========
header
===========*/


/*==========
Loaded
===========*/

#BackMovie{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -100;
}