/*==========
Bace
===========*/
/*==========
Top
===========*/
#BackMovie {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  z-index: -100; }

#MiddleTopText {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding-bottom: 150px;
  font-weight: bold; }

#MiddleTopText h1 {
  color: #ddd;
  letter-spacing: 3px;
  font-size: 50px; }

#MiddleTopText p {
  color: #ddd;
  font-size: 30px;
  letter-spacing: 3px; }
